.cubalaya_breakdown_day {
  border: 1px solid #000;
  border-left: none;
  background: #ddf;
  height: 10px;
  float: left;
}

.cubalaya_bar .first {
  border: 1px solid #000;
}

.cubalaya_bar .node_128 { background: #fbb; }
.cubalaya_bar .node_129 { background: #bfb; }
.cubalaya_bar .node_130 { background: #bbf; }
.cubalaya_bar .node_132 { background: #fbf; }
